<div class="notification <%= 'unread' if notification.unread? %>"
    data-controller="notifications"
    data-notifications-notification-id-value="<%= notification.id %>">
  <div class="d-flex">
    <% if notification.type == "NewActivity" %>
      <%= cl_image_tag notification.params[:activity].photo.key, crop: :fill, class: "avatar-bordered" %>
    <% else %>
      <%= cl_image_tag notification.to_notification.participant.avatar.key, crop: :fill, class: "avatar-bordered" %>
    <% end %>
    <div class="notif-info">
      <%= link_to notification.to_notification.message, notification.to_notification.url %>
      <p class="text-muted">Il y a <%= notification.time_ago %></p>
    </div>
  </div>
  <% if notification.unread? %>
    <%= button_to mark_as_read_notification_path(notification), method: :patch, data: { action: "click->notifications#mark_as_read", notifications_target: "bouton"} do %>
      <i class="fa-regular fa-circle-check"></i>
    <% end %>
  <% end %>
</div>
