<div data-controller="sidebar" class="side-and-nav-bar" >
<nav class="#">
    <ul class="nav-ul justify-content-around d-flex ms-4 me-4 align-items-center">

        <%# LOGO SOCIAL PULSE %>
        <li class="nav-item mb-5 ">
            <%= link_to root_path, class:"nav-link" do %>
                <%= image_tag "logo_violet.png" %>
            <% end %>
        </li>


        <%# ALLER AUX FAVORIS %>
        <li class="nav-item mb-5">
            <%= link_to favorites_path, class: "nav-link" do %>
                <%= image_tag "coeur.png" %>
            <% end %>
        </li>

        <%# AJOUTER UNE ACTIVITE %>
        <li class="nav-item ">
            <%= link_to new_activity_path, class: "nav-link rounded-circle", id:"nav-add" do %>
                <%= image_tag "plus.png" %>
            <% end %>
        </li>

        <%# ACCEDER AUX MESSAGES %>
        <li class="nav-item mb-5 ">
            <%= link_to "#", class: "nav-link" do %>
                <%= image_tag "message.png" %>
            <% end %>
        </li>

        <%# OUVRIR LA SIDEBAR %>
        <% if user_signed_in?%>
            <li class="nav-item mb-5 nav-profile">
                <a href="#" class="avatar" aria-haspopup="true" aria-expanded="false" data-action="click->sidebar#open" >
                <%= cl_image_tag current_user.avatar.key, class: "avatar-nav rounded-circle", alt: "Profil menu" %>
                </a>
            </li>

        <% else %>
            <li class="nav-item mb-5">
                <%= link_to new_user_session_path, class: "nav-link" do %>
                    <%= image_tag "user.png" %>
                <% end %>
            </li>
        <% end %>
    </ul>

</nav>
  <%= render 'layouts/sidebar' %>
</div>
