<nav class="#">
    <ul class="nav-ul justify-content-around d-flex ms-4 me-4 align-items-center">

        <%# LOGO SOCIAL PULSE %>
        <li class="nav-item mb-5 ">
            <%= link_to "#", class:"nav-link" do %>
                <%= image_tag "logo.png" %>
            <% end %>
        </li>


        <%# AJOUT FAVORIS %>
        <li class="nav-item mb-5">
            <%= link_to "#", class: "nav-link" do %>
                <i class="fa-solid fa-heart" style="color: #ffffff;"></i>
            <% end %>
        </li>

        <%# AJOUT ACTIVITE %>
        <li class="nav-item ">
            <%= link_to "#", class: "nav-link rounded-circle", id:"nav-add" do %>
                <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
            <% end %>   
        </li>

        <%# MESSAGES %>
        <li class="nav-item mb-5 ">
            <%= link_to "#", class: "nav-link" do %>
                <i class="fa-regular fa-comment-dots" style="color: #ffffff;"></i>
            <% end %>
        </li>

        <%# LOGO PROFILE %>
        <% if user_signed_in?%>
            <li class="nav-item mb-5 nav-profile">
                <a href="#" class="avatar" aria-haspopup="true" aria-expanded="false">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "Profil menu" %>
                </a>
            </li>

        <% else %>
            <li class="nav-item mb-5">
                <%= link_to new_user_session_path, class: "nav-link" do %>
                    <i class="fa-solid fa-user" style="color: #ffffff;"></i>
                <% end %>
            </li>
        <% end %>
    </ul>
    
</nav>

<%= render 'shared/menu_burger' %>