<h2>Mon compte</h2>



<%# ce bloc contient la photo à gauche + nom, age et présentation à droite %>
<div class="d-flex pb-2 border-bottom">
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
  <div class="user-info ms-2">
    <h3><%= @user.first_name %> <%= link_to "Modifier", edit_first_name_path %></h3>
    <p><%= @user.age %> ans <%= link_to "Modifier", edit_age_path %></p>
    <p class="text-wrap"><i class="fa-solid fa-quote-left"></i> <%= @user.presentation %> <i class="fa-solid fa-quote-right"></i> <%= link_to "Modifier", edit_presentation_path %></p>
  </div>
</div>
<div class="pb-2 pt-2 border-bottom"><%= link_to "Modifier ma photo de profil", edit_avatar_path %></div>
<div class="pb-2 pt-2 border-bottom"><%= link_to "Modifier mon mot de passe", edit_password_path %></div>
<div class="pb-2 pt-2 border-bottom"><%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
