<div id="user-show">
    <%# ce bloc contient la photo %>
    <div id="user-show-avatar" style="background-image: url('<%= cl_image_path @user.avatar.key, crop: :fill %>')"></div>

    <%# ce bloc contient nom et age à gauche + les boutons 'suivre' et 'signaler' %>
    <div class="d-flex align-items-center justify-content-between pb-3 pt-3">
      <div class="d-flex name-age-user">
        <h3><%= @user.first_name %> • <%= @user.age %> ans</h3>
      </div>
      <%= render "layouts/btn_destroy" if current_user.admin %>
      <%= render "layouts/btn_follow", user: @user %>
    </div>
    <div class="border-bottom pb-3 pt-3">
    <p class="text-wrap"><i class="fa-solid fa-quote-left"></i> <%= @user.presentation %> <i class="fa-solid fa-quote-right"></i></p>
    </div>

    <%# ce bloc contient les stats de l'utilisateur %>
    <div class="d-flex border-bottom pb-3 pt-3">
      <p><i class="fa-solid fa-chart-line" style="color: #614BF2;"></i> <%= @user.first_name %> a déjà proposé <%= @user.activities.size %> <%= @user.activities.size >=2 ? "activité".plural : "activité" %> et a participé à <%= @user.registrations.size %> <%= @user.registrations.size >=2 ? "activité".plural : "activité" %> !</p>
    </div>

    <%# ce bloc contient les activités proposées par l'user %>
    <h3 class="pt-3">Activités proposées</h3>
    <% if @user.activities.size.zero? %>
      <p><%= @user.first_name %> ne propose aucune activité en ce moment</p>
      <% else %>
      <%# afficher les cartes %>
      <div class="cards">
        <% @user.activities.each do |activity| %>
          <%= render "layouts/card_activity", activity: activity %>
        <% end %>
      </div>
    <% end %>

</div>
