<div class="form-new-activity">
  <%= simple_form_for activity do |f| %>
    <%= f.input :title, :label => "Titre de l'activité" %>
    <div class="date-form-new">
      <%= f.input :date,
                  as: :string,
                  input_html: { data: { controller: "datepicker" } },
                  wrapper_html: { class: 'date-date-form-new' }
      %>
      <%= f.input :duration,
                  :label => "Durée (heures)",
                  input_html: { min: '1' },
                  wrapper_html: { class: 'duration-date-form-new' }
      %>
    </div>
    <div class="address-form-new">
      <%= f.input :address, :label => "Adresse", wrapper_html: { class: 'road-address-form-new' } %>
      <%= f.input :city, :label => "Ville", wrapper_html: { class: 'city-address-form-new' } %>
    </div>
    <div class="type-form-new">
      <%= f.input :activity_type, :label => "Type d'activité", collection: Activity::TYPE, wrapper_html: { class: 'activity-type-form-new' } %>
      <%= f.input :participants_max, :label => "Participants (max.)", wrapper_html: { class: 'participants-type-form-new' } %>
    </div>
    <%= f.input :content, :label => "Description", input_html: { maxlength: 150, class: 'input-content-form-new' } %>
    <%= f.input :photo, :label => "Ajouter une photo", as: :file, input_html: { multiple: false } %>
    <% if activity.new_record? %>
      <%= f.button :submit, "Créer l'activité" , class: "btn-form-new"%>
    <% else %>
      <%= f.button :submit, "Modifier l'activité" , class: "btn-form-new"%>
    <% end %>
  <% end %>
</div>
