<h1 class="activities-h1">Création d'une activité</h1>

<div class="form-new-activity">
  <%= simple_form_for @activity do |f| %>
  <%= f.input :title, :label => "titre de l'activité" %>
  <div class="date-form-new">
    <%= f.input :date,
                as: :string,
                input_html: { data: { controller: "datepicker" } }
    %>
    <%= f.input :duration,
                :label => "Durée estimée de l'activité",
                input_html: { min: '1' }
    %>
  </div>
  <div class="address-form-new">
    <%= f.input :address, :label => "Addresse", wrapper_html: { class: 'road-address-form-new' } %>
    <%= f.input :city, :label => "Ville", wrapper_html: { class: 'city-address-form-new' } %>
  </div>
  <div class="type-form-new">
    <%= f.input :activity_type, :label => "type d'activité", collection: Activity::TYPE %>
    <%= f.input :participants_max, :label => "Nombre de participants maximum" %>
  </div>
  <%= f.input :content, :label => "description", input_html: { maxlength: 150 } %>
  <%= f.input :photo, :label => "Ajouter une photos", as: :file, input_html: { multiple: false } %>
  <%= f.button :submit, "Créer l'activité" , class: "btn-form-new"%>
  <% end %>
</div>
