<div class="info-report d-flex">
  <h1 class="activities-h1 report-h1 ">Signaler l'utilisateur : <%= @user.first_name %></h1>
  <div id="avatar-report"> <%= cl_image_tag @user.avatar.key, crop: :fill %></div>
</div>

<div class="form-new-report">

  <div class="dropdown drop-report">
    <button class="btn border-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Catégorie de la plainte
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Harcèlement</a></li>
      <li><a class="dropdown-item" href="#">Comportement impoli ou inapproprié</a></li>
      <li><a class="dropdown-item" href="#">Non-participation</a></li>
      <li><a class="dropdown-item" href="#">Non-respect des horaires </a></li>
      <li><a class="dropdown-item" href="#">Utilisation de photos trompeuses</a></li>
      <li><a class="dropdown-item" href="#">Non-respect des règles de sécurité</a></li>
      <li><a class="dropdown-item" href="#">Utilisation abusive de l'application</a></li>
      <li><a class="dropdown-item" href="#">Vol ou perte d'objets personnels</a></li>
    </ul>
  </div>

  <%= form_with model: @report, url: user_reports_path(@defendant), method: :post, remote: false do |f| %>
    <%= f.text_area :content, minlength: 6, maxlength: 800, label: false, input_html: {autocomplete:"off"}, class:"text-field-report"%>
    <%= f.submit "Envoyer", id:"btn-form-report" %>
  <% end %>
</div>
<div class="text-report">
<p>"Votre anonymat est notre priorité. Lorsque vous signalez une personne malveillante, nous garantissons la stricte confidentialité de votre identité. Votre sécurité est importante pour nous, et nous prenons toutes les mesures nécessaires pour protéger votre vie privée. <br>
Un administrateur prendra votre requête en charge et vous recontactera si des informations supplémentaires sont nécessaires."</p>
</div>