<div id="btns-follow-report" class="d-flex" data-controller="friends">
  <% if user_signed_in? %>
    <div class="purple-btn me-4 <%= 'd-none' if current_user.favorited?(user) %>" data-action="click->friends#follow" data-friends-target="follow">
      <%= link_to follow_user_path(user), remote: true, data: { turbo_method: :post } do %>
        <p><i class='fa-regular fa-heart'></i> Suivre</p>
      <% end %>
    </div>
    <div class="purple-btn me-4 <%= 'd-none' unless current_user.favorited?(user) %>" data-action="click->friends#unfollow" data-friends-target="unfollow">
      <%= link_to unfollow_user_path(user), remote: true, data: { turbo_method: :delete } do %>
        <p><i class='fa-solid fa-heart'></i> Suivi(e)</p>
      <% end %>
    </div>
  <% else %>
    <div class="purple-btn me-4">
      <%= link_to new_user_session_path, remote: true do %>
        <p><i class='fa-regular fa-heart'></i> Suivre</p>
      <% end %>
    </div>
  <% end %>

  <div id="report-btn">
    <%= link_to user_reports_new_path(user) do %>
      <i class="fa-solid fa-triangle-exclamation"></i> Signaler
    <% end %>
  </div>

</div>
