<div class="card">
    <%= link_to "", activity_path(activity), class: "background-link" %>
    <div class="card-img" style="background-image: url(<%= cl_image_path(activity.photo.key)%>)">
      <%# ce lien permet d'ajouter ou de retirer l'activité des favoris %>
      <% if current_user && activity.user != current_user %>
        <%= link_to toggle_favorite_activity_path(activity), id: "heart-index", remote: true, data: {
          turbo_method: :post,
          controller: "favorites",
          action: "click->favorites#toggleColor"
          } do %>
          <i data-favorites-target="heart" class="favorite-heart <%= current_user.favorited?(activity) ? 'fa-solid' : 'fa-regular' %> fa-heart fa-5x"></i>
        <% end %>
      <% elsif current_user.nil? %>
        <%= link_to toggle_favorite_activity_path(activity), id: "heart-index", remote: true, data: {
          turbo_method: :post,
          controller: "favorites",
          action: "click->favorites#toggleColor"
          } do %>
          <i data-favorites-target="heart" class="favorite-heart fa-regular fa-heart fa-5x"></i>
        <% end %>
      <% end %>
    </div>
    <div class="card-bottom">
      <div class=<%= activity.title.size < 22 ? 'card-bottom-titles-1line' : 'card-bottom-titles-2lines' %>>
        <h2 class="title-card"><%= activity.title %></h2>
        <p><%= activity.activity_type %></p>
      </div>
      <p><i class="fa-solid fa-location-dot" style="color: #614BF2;"></i> <%= activity.address %>, <%= activity.city %></p>
      <p class="card-date"><i class="fa-regular fa-calendar" style="color: #614BF2;"></i> <%= l(activity.date, format: "%A %-d %B %Y à %H:%M") %></p>
      <%= link_to user_path(activity.user), class: "link-avatar-index" do %>
        <%= cl_image_tag activity.user.avatar.key, class: "avatar-bordered avatar-index", crop: "fill" %>
      <% end %>
    </div>
</div>
