<div class="card">
  <%= link_to activity_path(activity), class: "card-activity-link" do %>
    <% if activity.photo.attached? %>
      <div class="card-img" style="background-image: url(<%= cl_image_path(activity.photo.key)%>)">
        <% if current_user %>
          <%= link_to toggle_favorite_activity_path(activity), remote: true, data: {
            turbo_method: :post,
            controller: "favorites",
            action: "click->favorites#toggleColor"
            } do %>
            <i data-favorites-target="heart" class="favorite-heart <%= current_user.favorited?(activity) ? 'fa-solid' : 'fa-regular' %> fa-heart fa-3x"></i>
          <% end %>
        <% else %>
          <%= link_to toggle_favorite_activity_path(activity), remote: true, data: {
            turbo_method: :post,
            controller: "favorites",
            action: "click->favorites#toggleColor"
            } do %>
            <i data-favorites-target="heart" class="favorite-heart fa-regular %> fa-heart fa-3x"></i>
        <% end %>
<% end %>
      </div>
    <% else %>
      <div class="card-img" style="background-image: url(<%= image_path "logo.png" %>)">
        <i id="heart-index" class="fa-regular fa-heart fa-3x" style="color: #614BF2;"></i>
      </div>
    <% end %>

    <div class="card-bottom">
      <h2 class="title-card"><%= activity.title %></h2>
      <p><i class="fa-solid fa-location-dot" style="color: #614BF2;"></i> <%= activity.address %>, <%= activity.city %></p>
      <p class="card-date"><i class="fa-regular fa-calendar" style="color: #614BF2;"></i> <%= activity.date.strftime("%A %d %B %Y à %H:%M") %></p>
      <%= cl_image_tag activity.user.avatar.key, class: "avatar-bordered avatar-index", crop: "fill", fetch_format: :auto %>
    </div>
  <% end %>

<%# ce lien permet d'ajouter ou de retirer l'activité des favoris %>
</div>
