<!-- app/views/layouts/_sidebar.html.erb -->
<div class="background-sidebar d-none" data-sidebar-target="background"data-action="click->sidebar#close" >
</div>
<div class="sidebar" data-sidebar-target="bar">

    <ul>
      <li class=" p-3 mb-5 div-logo-sidebar">
        <div class="logo-sidebar" style="background-image: url(<%= image_path("logo_violet.png")%>)"></div>
      </li>
      <% if current_user %>
        <li class="mt-5 d-flex justify-content-center">
          <%= link_to "#" do %>
            <%# <a href="#", aria-haspopup="true" aria-expanded="false" data-action="click->sidebar#open" > %>
              <%= cl_image_tag current_user.avatar.key, class:"avatar-sidebar rounded-circle", alt: "Profil menu" %>
            <%# </a> %>
          <% end %>
        </li>
        <li class="sidebar-item mt-5 ms-5 me-5 d-flex align-items-center"><%= link_to "Mon profil", user_path(current_user), class: "text-sidebar" %></li>
      <% end %>
      <li class="sidebar-item mt-5 ms-5 me-5 d-flex align-items-center"><%= link_to "Mes notifications", notifications_path , class: "text-sidebar" %></li>

      <li class="sidebar-item mt-5 ms-5 me-5 d-flex align-items-center"><%= link_to "Mes amis", favorites_path , class: "text-sidebar" %></li>

      <li class="sidebar-item mt-5 ms-5 me-5 d-flex align-items-center"><%= link_to "Mes activités", my_activities_path , class: "text-sidebar" %></li>

      <li class="sidebar-item mt-5 ms-5 me-5 d-flex align-items-center"><%= link_to "Mon compte", edit_user_registration_path , class: "text-sidebar" %></li>

      <li class="sidebar-item mt-5 ms-5 me-5 d-flex  align-items-center"><%= link_to "Me déconnecter", destroy_user_session_path , class: "text-sidebar", data: { turbo_method: :delete } %></li>
    </ul>
</div>
